.progress_bar {
  height: 5px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 2px;
  width: 50px;
  background-color: rgb(166, 166, 166);
  overflow: hidden;
}

.progress_bar .progress {
  height: 100%;
  background: #fff;
}