.progress_btn {
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  background-color: rgb(144, 196, 124);
  height: 40px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  transition: background-color .3s;
}

.progress_btn .text {
  color: #fff;
  line-height: 40px;
  z-index: 1;
  position: relative;
}

.progress_btn .progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgb(107, 155, 224);
  z-index: 0;
  transition: width .3s;
}

.progress_btn[disabled] {
  cursor: not-allowed;
  background-color: #333;
}

.progress_btn:not([disabled]):hover {
  background-color: rgb(131, 189, 109);
}