.result_list_wrapper {
  position: absolute;
  width: 870px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  z-index: 10;
  padding: 60px;
}

.result_list_wrapper .close_btn{
  position: absolute;
  left: 30px;
  top: 30px;
  background-color: #fff;
  border: 0;
  width: 15px;
  height: 15px;
  padding: 0;
  cursor: pointer;
  outline: none;
}
.result_list_wrapper .close_btn > img{
  width: 100%;
  height: 100%;
}

.result_list_wrapper .body{
  height: 100%;
  overflow-y: scroll;
}
.result_list_table{
  width: 100%;
}
.result_list_table tr{
  line-height: 50px;
}
.result_list_table td,.result_list_table th{
  text-align: center;
}
.result_list_table th.pic{
  width: 120px;
}
.result_list_table img{
  width: 100%;
  vertical-align: middle;
}