.uploader_wrapper {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  width: 100%;
  height: 365px;
  padding: 10px;
  position: relative;
}

.drag {
  height: 100%;
}

.uploader_wrapper, .drag .border {
  border-radius: 6px;
}

.drag .border {
  border: 3px rgb(242, 241, 242) dashed;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .3s;
  position: relative;
}

.drag .border .drag_box {
  height: 100%;
  width: 100%;
  position: absolute;
}

.drag .border .info {
  color: #999;
}

.drag.on_drag .border {
  border: solid rgb(188, 186, 188);
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 3px;
}

.file_list_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.file_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow-y: scroll;
  padding-bottom: 5px;
  padding-top: 25px;
}

.file_item {
  padding: 0 10px;
  width: 100px;
  height: 80px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file_item .cover {
  width: 100%;
  flex-grow: 1;
  position: relative;
}

.file_item .cover .progress_bar {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.file_item .cover img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  max-height: 55px;
  max-width: 100%;
  background-color: #fff;
  padding: 2px;
  border: 1px solid #ddd;
}

.file_item .file_name {
  color: #333;
  font-size: 12px;
  margin: 0;
  line-height: 25px;
  height: 25px;
  max-width: 100%;
  overflow: hidden;
}

.uploader_wrapper .select_category_wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  top: -10px;
}