.select_category {
  text-align: center;
}

.select_category span {
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.select_category .item {
  background-color: #fff;
  display: inline-block;
  padding: 7px 9px;
  font-size: 13px;
  cursor: pointer;
}

.select_category .item:hover {
  background-color: rgb(237, 237, 237);
}

.select_category .item.active {
  background-color: rgb(100, 151, 238);
  color: #fff;
}

.select_category .item:first-child {
  border-radius: 3px 0 0 3px;
}

.select_category .item:last-child {
  border-radius: 0 3px 3px 0;
}